
.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 15px;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #090101;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-primary {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #1276e0;
}

@media (max-width: 992px) {

    .card-title {
        font-size: 1.15rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media (max-width: 576px) {
    .card {
        flex-basis: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}
